<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/head_nav.css">
		<link rel="stylesheet" href="static/css/form.css">
        <link rel="stylesheet" href="static/css/about.css">
        <link rel="shortcut icon" type="image/png" href="static/img/appicon2.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        </style>
    </head>
    <body>
        <div class="loader" >
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <div class = 'd-flex justify-content-between'>
        <header class="header row-mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="/about">About</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/adddoctor">Add Doctor Details</a></li>
								<li><a href="/prediction" hidden>Prediction</a>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </header>
		<header id="page-header" style="padding-top: 20px;">
			<div class="container">
			  <div class="row">
				<div class="col-md-6 m-auto text-center">
				  <h1 style="font-size: 50px;margin-right: 30px;">Acute Lymphoblastic Leukemia</h1>
				</div>
			  </div>
			</div>
		  </header>
		  <section id="about" class="py-3">
			<div class="container">
			  <div class="row">
				<div class="col-md-6" >
				  <h1>What is it?</h1>
				  <br>
				  <div >
				  <p style="font-size: 18px;">Acute Lymphoblastic Leukemia (ALL) is a type of blood cancer affecting the lymphocytes, 
					a type of white blood cell that helps the body fight infection.
					 ALL is the most common type of cancer in children, accounting for about 30% of all childhood cancer cases. 
					 However, it can also affect adults, especially those over 50. The exact cause of ALL is not yet known,
					  but several factors have been identified that may increase the risk of developing this type of cancer.
					   These include genetic factors, exposure to certain chemicals and radiation, 
					   and certain medical conditions that weaken the immune system.
				</p>
				<p style="font-size: 18px;">ALL symptoms can vary depending on the stage of the disease, but they usually include fatigue, weakness, fever, and loss of appetite. 
					Common symptoms may include bone pain, easy bruising or bleeding, and frequent infections.
					 ALL treatment usually involves a combination of chemotherapy, radiation therapy, and bone marrow transplant.
					  The goal of treatment is to eliminate the leukemia cells from the body and prevent cancer from returning.
				</p>
			</div>
			
			</div>
				<div class="col-md-6">
				  <img src="static\img\lukemia.jpg" alt="" style=" margin-top: 60px; margin-left: 20px;"class="img-fluid rounded-circle d-none d-md-block about-img">
				</div>
			  </div>
			</div>
		  </section>
		
    <script src="static/js/jquery-1.11.3.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.countdown.js"></script>
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<script src="static/js/waypoints.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<script src="static/js/sticker.js"></script>
	<script src="static/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>